.DS_Store
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/public/build
*.log
*.sqlite
*.sqlite3
*.env
*.env.backup
*.swp
*.swo
.idea/
.vscode/
CLAUDE.md
GEMINI.md
.DS_Store
